<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">

    <title>Palindrome</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Palindrome Checker</h1>
    <section>
        <input type="text" placeholder="Enter text here"></input>
        <button type="button">Check</button>
    </section>
    <h2 class="message"></h2>
    <h2 class="message2"></h2>
    <h2 class="message3"></h2>

    <img src="bob.png">


    <script type="text/javascript" src="main.js"></script>
</body>

</html>